<header class="header">
  <div class="container">
    {% if PROFILE_IMAGE %}
      <div class="header-image">
        <a class="nodec" href="{{ SITEURL }}"><img src={{ PROFILE_IMAGE }}></a>
      </div>
    {% endif %}
    <div class="header-inner">
      <!-- <h3 class="header-text">{{ SITE_SUBTEXT }}</h3> -->
      <ul class="header-menu list-inline text-right">
        {% for title, link in MENU_ITEMS %}
        <li><a class="nodec" href="{{ link }}" target="_blank">{{ title }}</a></li>
        {% endfor %}
        {% if PAGES_ON_MENU %}
        {% for p in PAGES %}
            {% if loop.first %}
            <li class="muted">|</li>
            {% endif %}
            <li><a class="nodec" href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
            {% if loop.last %}
            <li class="muted">|</li>
            {% endif %}
        {% endfor %}
        {% endif %}
        {% if CATEGORIES_ON_MENU %}
        <li><a class="nodec" href="{{ SITEURL }}/categories.html">Categories</a></li>
        <li class="muted">|</li>
        {% endif %}
        {% if TAGS_ON_MENU %}
        <li><a class="nodec" href="{{ SITEURL }}/tags.html">Tags</a></li>
        <li class="muted">|</li>
        {% endif %}
        {% if ARCHIVES_ON_MENU %}
        <li><a class="nodec" href="{{ SITEURL }}/{{ ARCHIVES_URL | default('archives.html') }}"><i class="fa fa-th-list"></i><span class="icon-label">Archives</span></a></li>
        <li class="muted">|</li>
        {% endif %}

        {% if SOCIAL %}
        {% for name, link in SOCIAL %}
        <li><a class="nodec social-link icon-{{ name|lower|replace('+','-plus') }}" href="{{ link }}" target="_blank"></a></li>
        {% endfor %}
        {% endif %}
      </ul>
      <h1 class="header-name">
        <a id="sitename" class="nodec" href="{{ SITEURL }}">{{ SITENAME }}</a>
      </h1>
    </div>
  </div>

</header> <!-- /.header -->
